body {
    background-image: url("total.webp");
    background-repeat: repeat;
    font-family:sans-serif;
    font-size: 1em;
    margin-top: 2%;
    justify-content: center;
}

.pagina{
    background-color: aqua;
    color: black;
}

.card{
    background-color: #f3721c ;
    color: whitesmoke;
    text-align: center;   
}

.card2{
    background-color: black;
}
.text{
    background-color: black;
    color: white;
}
.text-center, h2{
    background-color: #c52ac5;
    color: white;
}
.card-text{
    font-size: 30px;
    font-style: oblique;
    color: rgb(34, 184, 230);
    background-color: black;
}

.colaboradoras{
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial;
    text-align: center;
    text-indent: 20px;
    word-spacing: 2px;
    font-weight: 800;
    color:white;
}

p{
    background-color: white;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial;
    text-align: center;
    text-indent: 20px;
    word-spacing: 2px;
    font-weight: 800;
}     

h1, h3,h4{
    background-color:  #c52ac5 ;
    background-attachment: fixed;
    background-size: 90%;
    font-family: Arial;
    color:white;
    text-align: center;
    text-indent: 20px;
    word-spacing: 2px;
    font-size: 40px;
}
.table{
    background-color:white;
}
.form{
    background-color: white;
    color: black;
    padding-top: 10px;
}
.cadastrar{
    font-size: 20px;
}
.palavras{
    font-weight: 800;
    font-style: oblique;
}
.lista{
    background-color: aquamarine;
    color: black;
    font-size: 25px;
}
.card-nome{
    background-color: white;
    font-size: 30px;
    font-style: oblique;
    color: rgb(245, 69, 38);
}
.card-title{
    font-family: Verdana;
    font-size: 30px;
    text-indent: 20px;
    word-spacing: 2px;
    text-align: center;
    color:#fff129;
}

h2{
    background-color: rgb(189, 14, 14);
    color: antiquewhite;
}

h1, h3,h4{
    background-color:  rgb(235, 33, 33)  ;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial;
    color:white;
    text-align: center;
    text-indent: 20px;
    word-spacing: 2px;
    font-weight: 800;
}
.car{
    font-size: 35px;
    background-color:white ;
    color:rgb(8, 7, 7);
    font-family: Arial;
    text-align: center;
    font-weight: 800;
}


