body {
    background-color: #f0f0f0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family:sans-serif;
    font-size: 1em;
    color: #594259;
    margin-top: 2%;
    justify-content: center;
}
.card{
    background-image: url("blossom.gif");
    background-color: #8f77c5 ;
    color:#644b9c;
    text-align: center;
    
}
p{
    background-color: #b397a8;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial;
    text-align: center;
    text-indent: 20px;
    word-spacing: 2px;
    font-weight: 800;
    color:#644b9c;

    }     

    h1, h3,h4{
        background-color:  #8f77c5 ;
        background-attachment: fixed;
        background-size: 100%;
        font-family: Arial;
        color:white;
        text-align: center;
        text-indent: 20px;
        word-spacing: 2px;
        font-weight: 800;
        }