body {
    font-family:sans-serif;
    font-size: 1em;
    color: #594259;
    margin-top: 2%;
    justify-content: center;
}

.card{
    background-color: #8f77c5 ;
    color: whitesmoke;
    text-align: center;
    
}
.text{
    background-color: black;
    color: white;
}
.text-center, h2{
    background-color: #c52ac5;
    color: white;
}
.card-text{
    color: rgb(34, 184, 230);
    background-color: black;
}

.colaboradoras{
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial;
    text-align: center;
    text-indent: 20px;
    word-spacing: 2px;
    font-weight: 800;
    color:#644b9c;
}

p{
    background-color: white;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Arial;
    text-align: center;
    text-indent: 20px;
    word-spacing: 2px;
    font-weight: 800;
    color:#644b9c;

    }     

h1, h3,h4{
    background-color:  #c52ac5 ;
    background-attachment: fixed;
    background-size: 90%;
    font-family: Arial;
    color:white;
    text-align: center;
    text-indent: 20px;
    word-spacing: 2px;
}

.card-title{
    font-family: Verdana;
    font-size: 30px;
    text-indent: 20px;
    word-spacing: 2px;
    text-align: center;
    color:#644b9c;


}

h2{
    background-color: rgb(189, 14, 14);
    color: antiquewhite;
}

h1, h3,h4{
background-color:  rgb(235, 33, 33)  ;
background-attachment: fixed;
background-size: 100%;
font-family: Arial;
color:white;
text-align: center;
text-indent: 20px;
word-spacing: 2px;
font-weight: 800;
}
 .car{
    background-color:#8b7aad ;
    color:white;
    font-family: Arial;
    text-align: center;
    font-weight: 800;
}


