{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="{% static 'Estilizar.css' %}">
   <title>Sugestões de Filmes</title>
         
</head>

<body>
   <h1>Lista de Filmes</h1>

   <p><a href="{% url 'cadastro'%}">Cadastrar Novo Filme</a></p>

   {% for filmes in listar %}

   <p>Nome do Filme: |{{filmes.nome}}|
      Gênero: |{{filmes.generos}}|
      Classificação Indicativa: |{{filmes.classificacao}}|
      | <a href="{% url 'editar_filme' filmes.id %}">EDITAR</a>
      | <a href="{% url 'remover_filme' filmes.id %}">REMOVER</a>
   </p>

   {% empty %}

   <p>Não existem filmes cadastrados</p>

   {% endfor %}

</body>

</html>