<!doctype html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Filmes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
</head>
  <body>
    <div class="row m-5 text-center">
      <h1>Filmes</h1>
      <p class="cadastrar"><a href="{% url 'home'%}">Voltar a pagina Inicial</a></p>
    </div>
    
    <div class="row m-5">
      <p class="cadastrar"><a href="{% url 'filmes_cadastro'%}">Cadastrar novo Filme</a></p>
      <p class="lista">Lista de Filmes Cadastrados</p>
    {% for filme in lista_filmes %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col-2">Nome</th>
      <th scope="col-2">Gênero</th>
      <th scope="col-2">Classificação</th>
      <th scope="col-3">Foto</th>
      <th scope="col-3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr class="palavras">
      <td>{{filme.nome}}</td>
      <td>{{filme.genero}}</td>
      <td>{{filme.classificacao}}</td>
      <td><img src="/media/{{filme.foto}}" alt="" width="60px" height="60px"/></td>
      <td><a href="{% url 'filmes_editar' filme.id %}">EDITAR</a>
          <a href="{% url 'filmes_remover' filme.id %}">DELETAR</a></td>
    </tr>
  </tbody>
  </table>
    
    {% empty %}
    <p>Nenhum Filme cadastrado</p>
    {% endfor %}
    </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>